[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
fastapi = "*"

[dev-packages]
mypy = "*"
uvicorn = {extras = ["standard"], version = "*"}
schemathesis = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
